html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'inter';
    background: #f2f2f2;
    margin: 0;
}

.auth-card {
    width: 400px;
    padding: 23px 60px;
    background: white;
    box-shadow: 0 3.03601px 10.8537px -4.55402px rgba(0, 0, 0, .09);
    margin-top: 60px;
}

.auth {
    position: absolute;
    top: 15%;
}

.auth .logo {
    width: 200px;
    height: 50px;
    background: url('/images/logo.svg');
    background-size: 100%;
    background-position: center;
    padding: 10px;
    background-repeat: no-repeat;
    margin: auto;
}

.auth-card .form_wrapper {
    margin-top: 40px;
}

.auth-card__title h1 {
    font-weight: 400;
    font-size: 1.2em;
}

.form_submit-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form_submit-field a {
    font-size: .9em;
    text-decoration: none;
    color: #707070;
}

.form_submit-field a:hover {
    opacity: .9;
}

.form_submit-field a:active {
    opacity: .8;
}
