.form_field {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.req {
    color: red;
}

.form_wrapper input {
    padding: 5px 10px;
    font-size: 1em;
    font-family: 'inter';
    outline: none;
    border: 1px solid lightgrey;
    width: 250px;
}

.form_wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.form_field-big input {
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.4em;
}

.form_field select {
    outline: none;
    padding: 5px 8px;
    width: 272px;
    border: 1px solid lightgrey;
    font-size: 1em;
    font-family: 'inter';
}

.form_submit-field {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
    align-items: center;
}

.form_submit-field label {
    display: flex;
    align-items: center;
}

.submit-button {
    cursor: pointer;
    border: 2px solid black;
    padding: 3px 20px;
    border-radius: 5px;
    font-family: inter;
    font-size: 1em;
    background: black;
    color: white;
}

.submit-button:hover {
    background: white;
    color: black;
}

.submit-button:active {
    opacity: .8;
}

input[type="checkbox"] {
    display: none;
}

.custom-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
}

input[type="checkbox"]:checked + .custom-checkbox {
    border-color: #769ac3;
    background-color: #769ac3;
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.form_field.checkbox {
    justify-content: flex-start;
    margin: 10px 0;
    gap: 12px;
    line-height: 24px;
}

.form_field.checkbox label {
    display: flex;
    align-items: center;
}
