@import url("../creator/task.css");

.message {
	width: 70%;
	margin: auto;
	margin-top: 60px;
}


.message p {
	line-height: 1.7em;
}

.message .checkbox {
	margin-top: 45px;
	margin-bottom: 45px;
}

.message .form_submit-field {
	justify-content: flex-start;
}

.tasks_sidebar-items a {
    text-decoration: none;
    color: black;
}

.tasks_content_wrapper.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tasks_content_wrapper.centered .start-message {
    line-height: 1.6em;
    font-size: 1.2em;
    position: relative;
    top: -40px;
}

.rate_input {
    width: 40px;
    height: 30px;
    border: 0;
    border-bottom: 2px solid grey;
    outline: none;
    font-family: "inter";
    font-size: 1em;
    text-align: right;
}

table {
    width: 100%;
}

.checking-managing_buttons {
    display: flex;
    justify-content: flex-end;
    gap: 18px;
}
